<!DOCTYPE html>
<html lang="ja" class="h-100">
    <head>
        <meta charset="utf-8">
        {% block meta %}{% endblock %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/common.css"/>
        {% block css %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    
    <body class="h-100 text-center text-black bg-white">
        {% include "navbar.html"%}
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <h3 class="float-md-start mb-sm-0 h1">
            {% block header %}{% endblock %}
        </h3>

            
            
            <main class="px-3 text-center align-middle">
                {%block main%}{%endblock%}
            </main>

            {% if card %}
            <div class="card-decks container-">

                <div class="card border-secondary bg-white mb-3 rounded">
                    <div class="card-header h3">
                        {% block card_header_1 %}{% endblock %}
                    </div>
                    <div class="card-body">
                        {% block card_body_1 %}{% endblock %}
                    </div> 
                </div>
            </div>
            {% endif %}

            <footer class="mt-auto fixed-bottom text-black-60">
                <!-- <p>github:<a href=""> <a></p> -->
                <!-- <p>mail:<a href="mailto:"></a></p> -->
                <p>© 2021 Suwa All Rights Reserved</p>
            </footer>
        <div>
        <script type='text/javascript'>
            {% block js %}{% endblock %}
        </script>
    </body>
</html>