{% extends "common.html" %}
{% block title  %}ログイン{% endblock %}
{% block header %}ログイン{% endblock %}
{% block main %}
{% macro render_error(field) %}
  <ul class=errors>
    {% for error in field.errors %}
      <font color='red'>{{ error }}</font>
    {% endfor %}
  </ul>
{% endmacro %}

  <form id="loginform" method="post" >
    {{ form.csrf_token }}
    <div class="row pb-2">
      <div class="form-group">
        <label for="exampleInputEmail1">メールアドレス</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" maxlength="50" aria-describedby="emailHelp" placeholder="ilove@pet.com" required>
      </div>
    </div>
    <div class="row pb-4">
      <div class="form-group">
        <label for="exampleInputPassword1">パスワード</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" maxlength="50" placeholder="Password" maxlength="50" required>
      </div>
    </div>
    <div class="row">
      <div class='d-grid'>
        <button type="submit" class="btn btn-outline-primary" name="sub">ログイン</button>
      </div>
    </div>
  </form>



  <div class="row pt-5">
    <hr>
    <div class="pt-4">
      <div class='d-grid'>
        <a class="btn btn-outline-secondary me-1 btn-sm" href="/memberInfo" role="button">新規登録ページはこちら</a>
      </div>
    </div>
  </div>

{% endblock %}