{% extends "common.html" %}
{% block title %}会員登録修正{% endblock %}
{% block header %}会員登録修正ページ{% endblock %}
{% block main %}

<div class="row">
  <form name="memberinfofixform" id="memberinfofixform" method="post">
    
    {{ form.csrf_token }}
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">ニックネーム</label>
            <input class="form-control" type="text" value="{{ form.user_nickname.data }}" maxlength="10" name="user_nickname" aria-label="nickname" required>
          </div>
        </div>
        <div class="col-md-8">
          <label for="exampleFormControlTextarea1" class="form-label">氏名</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" value="{{ form.user_lname.data }}" maxlength="10" name="user_lname" aria-label="user_lname" required>
            <input type="text" class="form-control" value="{{ form.user_fname.data }}" maxlength="10" name="user_fname" aria-label="user_fname" required>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <label for="exampleInputEmail1" class="form-label">電話番号</label>
          <input type="tel" class="form-control" value="{{ form.tell.data }}" id="exampleInputEmail1" maxlength="11" name="tell" required>
        </div>
        <div class="col-md-4">
            <label for="exampleFormControlTextarea1" class="form-label">都道府県</label>
            <input class="form-control" type="text" maxlength="10" name="prefecture" value="{{ form.prefecture.data }}" aria-label="prefecture" required>
        </div>
        <div class="col-md-4">
            <label for="exampleFormControlTextarea1" class="form-label">市町村</label>
            <input class="form-control" type="text" maxlength="20" name="city" value="{{ form.city.data }}" aria-label="city" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-grid">
            <button type="submit" name="sub" class="btn btn-outline-primary">この内容で会員情報を修正する</button>
          </div>
        </div>
      </div>
  </form>
</div>



{% endblock %}
