{% extends "common.html" %}
{% block title %}会員登録{% endblock %}
{% block header %}会員登録ページ{% endblock %}
{% block main %}
{% macro render_error(field) %}
  <ul class=errors>
    {% for error in field.errors %}
      <font color='red'>{{ error }}</font>
    {% endfor %}
  </ul>
{% endmacro %}
<form name="memberinfoform" id="memberinfoform" method="post" >  
  {{ form.csrf_token }}
  <table border="0" align="center">
    <tbody>
      <tr>
        <th><label class="form-label ">ニックネーム</label></th>
        <td>{{ form.user_nickname }}{{ render_error(form.user_nickname) }}</td>
      </tr>
      <tr>
        <th><label class="form-label">苗字</label></th>
        <td>{{ form.user_lname }}{{ render_error(form.user_lname) }}</td>
      </tr>
      <tr>
        <th><label class="form-label">名前</label></th>
        <td>{{ form.user_fname }}{{ render_error(form.user_fname) }}</td>
      </tr>
      <tr>
        <th><label class="form-label">メールアドレス</label></th>
        <td>{{ form.email }}{{ render_error(form.email) }}</td>
      </tr>
      <tr>
        <th><label class="form-label">パスワード</label></th>
        <td>{{ form.password }}{{ render_error(form.password) }}</td>
      </tr>
      <tr>
        <th><label class="form-label">電話番号</label></th>
        <td>{{ form.tell }}{{ render_error(form.tell) }}</td>
      </tr>
      <tr>
        <th><label class="form-label">県</label></th>
        <td>{{ form.prefecture }}{{ render_error(form.prefecture) }}</td>
      </tr>
      <tr>
        <th><label class="form-label">市</label></th>
        <td>{{ form.city }}{{ render_error(form.city) }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ form.sub }}</td>
      </tr>
    </tbody>
  </table>
</form>



<form name="memberinfoform" id="memberinfoform" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
    <!--ニックネーム・氏名-->
    <div class="row">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">ニックネーム</label>
          <input class="form-control" type="text" maxlength="10"　name="user_nickname" placeholder="ニックネーム（10文字以内）" aria-label="nickname" required>
        </div>
      </div>
      <div class="col-md-8">
        <label for="exampleFormControlTextarea1" class="form-label">氏名</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="氏" maxlength="10"　　name="user_lname"　aria-label="user_lname" required>
          <input type="text" class="form-control" placeholder="名" maxlength="10"　　name="user_lname"　aria-label="user_fname" required>
        </div>
      </div>
    </div>

    <!--電話番号・メールアドレス・パスワード-->
    <div class="row">
      <div class="col-md-4">
        <label for="exampleInputEmail1" class="form-label">メールアドレス</label>
        <input type="email" class="form-control" placeholder="ilove@pet.com" maxlength="50" aria-describedby="email" name="email" required>
      </div>
      <div class="col-md-4">
        <label for="exampleInputEmail1" class="form-label">電話番号</label>
        <input type="email" class="form-control" id="exampleInputEmail1" maxlength="11" aria-describedby="emailHelp" required>
      </div>
      <div class="col-md-4">
        <label for="exampleInputPassword1" class="form-label">パスワード</label>
        <input type="password" class="form-control" maxlength="50" id="exampleInputPassword1" required>
      </div>
    </div>

    <!--都道府県・市町村-->
    <div class="row">
      <div class="col-md-6">
          <label for="exampleFormControlTextarea1" class="form-label">都道府県</label>
          <input class="form-control" type="text" maxlength="10"　name="user_nickname" placeholder="都道府県" aria-label="nickname" required>
      </div>
      <div class="col-md-6">
          <label for="exampleFormControlTextarea1" class="form-label">市町村</label>
          <input class="form-control" type="text" maxlength="10"　name="user_nickname" placeholder="市町村" aria-label="nickname" required>
      </div>
    </div>

    <!--送信-->
    <div class="row">
      <div class="col">
        <div class="d-grid">
          <button type="submit" name="sub" class="btn btn-outline-primary" color=#f5deb3>この内容で会員登録する</button>
        </div>
      </div>
    </div>  

</form>  



{% endblock %}
