{% extends "common.html" %}
{%block title%}マイページ{%endblock%}
{%block header%}マイページ{%endblock%}

{%block main%}
    <a href="/petInfo">ペットの登録はこちらから</a>
    <div class="table-responsive">  
        <table class="table table-bordered">
                <tr>
                    <th>迷子</th><th>名前</th><th>特徴</th>
                </tr>
            {% for pet in pet_list %}
                <tr>
                    <td>
                        {% if pet.lost_flag %}
                            <a href="/thread/{{lostthread.filter_by(pet_id=pet.pet_id).first().thread_id}}">捜索中</a>
                        {% else %}
                            <form id="mypageform" method="post">
                                {{ form.csrf_token }}
                                <input type="hidden" name="pet_id" value={{pet.pet_id}}>
                                {{ form.lost }}
                            </form>
                        {% endif %}
                    </td>
                    <td>{{pet.pet_name}}</td><td style="white-space:pre-wrap;">{{pet.features_description}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% for thread in threadlist %}
        <div class="card-decks container-">
            <div class="card border-secondary bg-white mb-3 rounded">
                <div class="card-header h3">
                    <img src="static/images/{{thread.img_source}}.jpg" height="500">
                </div>
                <div class="card-body">
                    {{thread.message}}<br>
                    <a href="/thread/{{thread.thread_id}}">返信</a>
                    <form id="mypagedelform" method="post">
                        {{ delform.csrf_token }}
                        <input type="hidden" name="thread_id" value={{thread.thread_id}}>
                        {{ delform.delete }}
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{%endblock%}