{% extends "common.html" %}
{%block title%}マイページ{%endblock%}
{%block header%}マイページ{%endblock%}

{%block main%}

    <div class="row">
        <h3 class="pb-2 font-italic border-bottom">登録済み<ruby><rb>ペット</rb><rp>（</rp><rt>かぞく</rt><rp>）</rp></ruby>一覧</h3>
    </div>


    <div class="row pb-4">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" nowrap>ペットの名前</th>
                            <th scope="col" nowrap>特徴</th>
                            <th scope="col" nowrap>迷子申請</th>
                        </tr>
                    </thead>
                

                    <tbody>
                        {% for pet in pet_list %}
                            <tr>
                                <td nowrap>{{pet.pet_name}}</td>
                                <td style="white-space:pre-wrap;">{{pet.features_description}}</td>
                                <td nowrap>
                                    {% if pet.lost_flag and lostthread.filter_by(pet_id=pet.pet_id).first().del_flag == False %}
                                        <div class="d-grid">
                                            <a class="btn btn-outline-warning btn-sm m-1" href="/thread/{{lostthread.filter_by(pet_id=pet.pet_id).first().thread_id}}" role="button">捜索中の投稿</a>
                                        </div>
                                        <form id="mypagedelform" method="post">
                                            {{ delform.csrf_token }}
                                            <input type="hidden" name="thread_id" value={{lostthread.filter_by(pet_id=pet.pet_id).first().thread_id}}>
                                            <div class="d-grid">
                                                <button class="btn btn-outline-info btn-sm m-1" id='delete' name='delete' type=submit>発見</button>
                                            </div>
                                        </form>
                                    {% else %}
                                        <form id="mypageform" method="post">
                                            {{ form.csrf_token }}
                                            <input type="hidden" name="pet_id" value={{pet.pet_id}}>
                                            <div class="d-grid">
                                                <button class="btn btn-outline-dark btn-sm m-1" id='lost' name='lost' type=submi>迷子申請</button>
                                            </div>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        <!--新規ペット登録-->     
                        <tr>
                            <td colspan=3>
                                <a class="btn btn-outline-secondary me-1 btn-sm" href="/petInfo" role="button">
                                    ペットの新規登録はこちら
                                </a>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
    <div class='row'>
        <h3 class="pb-1 font-italic border-bottom">
          あなたの投稿
        </h3>
    </div>


    <div class="row">
        <!-- 投稿一覧を表示-->
        {% include "posts.html"%}
    </div>


{%endblock%}