<div class='row'>

    <!--返信元の投稿-->
    <div class='col-md-4 pb-4'>
        <h3 class="pb-1 font-italic border-bottom">{{ nicknamelist.filter_by(id=threadtop.user_id).first().user_nickname }}さんの投稿</h3>
        <div class='mx-0'>
            {% if threadtop.lost_flag %}
            <div class="card h-100 p-3 border-warning">
                <div class="mb-2 badge bg-warning text-wrap fs-3">
                    迷子速報！
                </div>
            {% elif threadtop.found_flag %}
            <div class="card h-100 p-3 border-success">
                <div class="mb-2 badge bg-success text-wrap fs-3">
                    迷子発見速報！
                </div>
            {% else %}
            <div class="card h-100 p-3">
            {% endif %}
                {% if threadtop.img_source != None %}
                    <img src="/static/images/{{threadtop.img_source}}.jpg" class="rounded img-fluid">
                {% endif %}
                <div class="card-body">
                    {% if threadtop.found_flag == False%}
                        <div class="text-muted pb-2">
                            <ruby><rb>ペット</rb><rp>（</rp><rt>かぞく</rt><rp>）</rp></ruby>のお名前
                            <a href="/pet/{{threadtop.pet_id}}" class="text-reset">{{petnamelist.filter_by(pet_id = threadtop.pet_id).first().pet_name}}</a>
                        </div>
                    {% endif %}

                    {% if threadtop.found_flag %}
                        <!--迷子発見速報-->
                        <!--発見場所-->
                        <div><b>●発見場所</b><br>
                            {{ threadtop.message.split("!@#)&!^#$%^&*()")[0] }} {{ threadtop.message.split("!@#)&!^#$%^&*()")[1] }}<br><br>
                        </div>
                        <!--特徴-->
                        <div><b>●特徴</b>
                            <div style="white-space:pre-wrap;">{{ threadtop.message.split("!@#)&!^#$%^&*()")[2] }}</div><br>
                        </div>
                        
                        <div>
                            <b>●AI分析結果</b>
                        </div>
                        
                        <!-- AI分析結果-->
                        {% for petid_sim_thread in range(0, threadtop.message.split("!@#)&!^#$%^&*()")[3:] | length, 3) %}  
                            <div class="">
                            もしかして<b>{{petnamelist.filter_by(pet_id = threadtop.message.split("!@#)&!^#$%^&*()")[(loop.index0)*3 + 3]).first().pet_name}}</b>さん？
                            （類似度 : {{threadtop.message.split("!@#)&!^#$%^&*()")[(loop.index0)*3 + 4]}} %）
                            </div>
                            <div class="mb-2">
                            <div class="d-grid">
                                <a class="btn btn-outline-success" href="/thread/{{threadtop.message.split('!@#)&!^#$%^&*()')[(loop.index0)*3 + 5]}}" role="button">
                                {{petnamelist.filter_by(pet_id = threadtop.message.split("!@#)&!^#$%^&*()")[(loop.index0)*3 + 3]).first().pet_name}}さんの迷子速報を見る
                                </a>
                            </div>
                            </div>
                        {% endfor %}
                        
                        {% elif threadtop.lost_flag %}
                        <!--迷子速報-->
                        <!--特徴-->
                        <div><b>●特徴</b>
                            <div style="white-space:pre-wrap;">{{ threadtop.message }}</div><br>
                        </div>       
                        {% else %}
                        <!--通常投稿-->
                        <div><b>●つぶやき</b><br>
                            <div style="white-space:pre-wrap;">{{ threadtop.message }}</div>
                        </div>
                    {% endif %}

            </div>
            <!--更新日時-->
            <div class="align-bottom ms-3 mb-2">
                {% if threadtop.lost_flag %}
                <p class="card-text"><small class="text-muted">迷子登録日時 {{ threadtop.update.strftime("%y/%m/%d %H:%M") }}</small></p>
                {% elif threadtop.found_flag %}
                <p class="card-text"><small class="text-muted">迷子発見日時 {{ threadtop.update.strftime("%y/%m/%d %H:%M") }}</small></p>
                {% else %}
                <p class="card-text"><small class="text-muted">投稿日時 {{ threadtop.update.strftime("%y/%m/%d %H:%M") }}</small></p>
                {% endif %}
            </div>
            </div>
        </div>
    </div>

    <div class='col-md-8'>
        <div class='mx-0'>
        <!--返信用フォーム-->
        
        <h3 class="pb-1 font-italic border-bottom">返信する</h3>

        <!--返信にはログインが必要-->
        <form name="threadsubmissionform" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% if current_user.is_authenticated %}
            
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">メッセージ</label>
                <textarea class="form-control" name="message" rows="3" maxlength="400" required></textarea>
            </div>
                <div class='row'>
                    <div class='col'>
                        <div class="d-grid">
                        <button type="submit" name="sub" class="btn btn-outline-primary">送信</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">
                メッセージ (返信するには<a href="/login" class="link-primary">ログイン</a>が必要です。)
                </label>
                <textarea class="form-control" name="message" rows="3" maxlength="400" disabled></textarea>
            </div>
                <div class='row'>
                <div class='col'>
                    <div class="d-grid">
                    <button type="submit" name="sub" class="btn btn-outline-primary" disabled>送信</button>
                    </div>
                </div>
                </div>
            </div>
        {% endif %}
        </form>

        <!--返信一覧-->
        <h3 class="pt-4 pb-1 font-italic border-bottom">みんなの反応</h3>
        {% for thread in threadlist %}
            {% if thread.img_source != None %}
                <img src="/static/images/{{thread.img_source}}.jpg" class='rounded img-fluid'>
            {% endif %}
            {{ nicknamelist.filter_by(id=thread.user_id).first().user_nickname }} さん
            <div class="card-body">
            <div style="white-space:pre-wrap;">{{thread.message}}</div><br>
            {% if thread.img_source != None %}
                <a href="/thread/{{thread.thread_id}}">返信する</a>
            {% endif %}
            </div>
        {% endfor %}

        {% include "reply_posts.html"%}
        

    </div>

</div>

