{% extends "common.html" %}
{% block title %}迷子発見フォーム{% endblock %}
{% block header %}迷子発見フォーム{% endblock %}
{% block main %}
  <!--迷子発見フォーム-->
  <form id="searchpetform" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="row">
      <div class='col-md-3'>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">都道府県</label>
          <input class="form-control" type="text" name="prefecture" maxlength="10" placeholder="ペットを発見した都道府県を入力" aria-label="都道府県" required>
        </div>
      </div>
      <div class='col-md-3'>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">市町村</label>
          <input class="form-control" type="text" name="city" maxlength="20" placeholder="ペットを発見した市町村を入力" aria-label="市町村" required>
        </div>
      </div>
      <div class='col-md-6'>
        <div class="mb-3">
          <label for="formFile" class="form-label">ペットの画像</label>
          <input class="form-control" type="file" name="img" accept="image/*" required>
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">ペットの特徴や様子</label>
        <textarea class="form-control" name="features_description" rows="3" maxlength="400" placeholder="ペットの特徴や様子を入力" required></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="d-grid">
          <button type="submit" name="sub" class="btn btn-outline-primary" color=#f5deb3>送信 (迷子動物の発見を申請する)</button>
        </div>
      </div>
    </div>  
  </form>  
  
{% endblock %}