{% extends "common.html" %}
{% block title %}迷子確認フォーム{% endblock %}
{% block header %} 迷子確認フォーム{% endblock %}
{% block main %}
{% macro render_error(field) %}
  <ul class=errors>
    {% for error in field.errors %}
      <font color='red'>{{ error }}</font>
    {% endfor %}
  </ul>
{% endmacro %}
<form id="searchpetform" method="post" enctype="multipart/form-data" >  
    {{ form.csrf_token }}
    <table border="0" align="center">
      <tbody>
        <tr>
        <th><label class="form-label ">県</label></th><td>{{ form.prefecture }}{{ render_error(form.prefecture) }}</td>
        </tr>
        <tr>
        <th><label class="form-label">市</label></th><td>{{ form.city }}{{ render_error(form.city) }}</td>
        </tr>
        <tr height = "25%">
        <!--maxlength="400"-->
        <th><label class="form-label">特徴</label></th><td>{{ form.features_description(rows='5', cols='30') }}{{ render_error(form.features_description) }}</td>
        </tr>
        <tr>
          <th><label class="form-label">画像</label></th><td>{{ form.img }}{{ render_error(form.img) }}</td>
          </tr>
        <tr>
        <td colspan="2">{{ form.sub }}</td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock %}