{% extends "common.html" %}
{% block title %}スレッド投稿{% endblock %}
{% block header %}スレッド投稿フォーム{% endblock %}
{% block main %}
{% macro render_error(field) %}
  <ul class=errors>
    {% for error in field.errors %}
      <li class="error">{{ error }}</li>
    {% endfor %}
  </ul>
{% endmacro %}
<form id="threadsubmissionform" method="post" >  
    {{ form.csrf_token }}
    <table border="0" align="center">
      <tbody>
        <tr>
          <th><label class="form-label ">ペットの名前</label></th>
          <td>{{ form.pet_id }}{{ render_error(form.pet_id) }}</td>
        </tr>
        <tr>
          <th><label class="form-label ">メッセージ</label></th>
          <td>{{ form.message(rows='5', cols='30') }}{{ render_error(form.message) }}</td>
        </tr>
        <tr>
          <th><label class="form-label">ペットの画像</label></th>
          <td>{{ form.img }}{{ render_error(form.img) }}</td>
        </tr>
        <tr>
          <td colspan="2">{{ form.sub }}</td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock %}