{% extends "common.html" %}
{% block title %}タイムライン{% endblock %}
{% block header %}タイムライン{% endblock %}
{% block main %}      

<!--返信ページ-->

{% if reply_id != 0 %}
  {% include "reply.html"%}
{% endif %}


  {% if current_user.is_authenticated %}
    
    {% if reply_id == 0 %}
      <div class='row'>
        <h3 class="pb-1 font-italic border-bottom">新規投稿</h3>
      </div>
    {% endif %}
    
    <div class="row pb-4">
      <form name="threadsubmissionform" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {% if reply_id == 0 %}


          <div class="mb-2">
            <label for="exampleFormControlTextarea1" class="form-label">メッセージ</label>
            <textarea class="form-control" name="message" rows="3" minlength="5" maxlength="400" placeholder="ペット(かぞく)との思い出をつぶやいてね！ （5文字以上）" required></textarea>
          </div>
          <div class='row'>
            <div class='col-md-6'>
              <div class="mt-1">
                <label for="formFile" class="form-label">ペットの画像</label>
                <input class="form-control" type="file" name="img" accept="image/*" required>
              </div>
            </div>
            <div class='col-md-6'>
              <div class="mt-1">
                <label for="exampleFormControlTextarea1" class="form-label">ペットの名前 (※先に<a href="/petInfo">ペットを登録</a>してください)</label>
                <select class="form-select" aria-label="Default select example" name="pet_id" required>
                  <option selected value="" disabled>ペットの名前を選択</option>
                  {% for p_id in form.pet_id %}
                    {{p_id}}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class='row'>
              <div class="d-grid">
                <label for="exampleFormControlTextarea1" class="form-label">&nbsp;</label>
                <button type="submit" name="sub" class="btn btn-outline-primary">送信</button>
              </div>
          </div>

          

        {% endif %}
      </form>
    </div>
  {% endif %}

  {% if reply_id == 0 %}
    <div class='row'>
      <h3 class="pt-3 pb-1 font-italic border-bottom">
        みんなの投稿
      </h3>
    </div>
    <!-- 投稿一覧を表示-->
    {% include "posts.html"%}

  {% endif %}


{% endblock %}