{% extends "common.html" %}
{% block title %}スレッド{% endblock %}
{% block header %}スレッド{% endblock %}
{% block main %}
    {% for thread in threadlist %}
        <div class="card-decks container-">
            <div class="card border-secondary bg-white mb-3 rounded">
                <div class="card-header h3">
                    <img src='static/images/search/dump.jpg' class="rounded-circle" width="100" height="100">
                </div>
                <div class="card-body">
                    {{thread.message}}<br>
                    <a href="/{{thread.thread_id}}">詳細</a>

                    <form id="threadsubmissionform" method="post" >  
                        {{ form.csrf_token }}
                        <table border="0" align="center">
                          <tbody>
                            <tr>
                              <th><label class="form-label ">メッセージ</label></th>
                              <td>{{ form.message(rows='5', cols='30') }}{{ render_error(form.message) }}</td>
                            </tr>
                            <tr>
                              <th><label class="form-label">ペットの画像</label></th>
                              <td>{{ form.img }}{{ render_error(form.img) }}</td>
                            </tr>
                            <tr>
                              <td colspan="2">{{ form.sub }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                </div>
                
            </div>
        </div>
    {% endfor %}
{% endblock %}